/* Fix up since bootstrap contain a bug */
@media (min-width: 991px) {
    .col-md-3 {
        float: left !important;
        position: relative !important;
        width: 250px !important;
    }
    .col-md-9 {
        width: auto !important;
        float: none !important;
        margin-left: 250px !important;
    }
    ul#mysidebar {
        width: 225px !important;
    }
    .affix {
        position: fixed !important;
    }
    div#toc {
        float: right !important;
        margin: 0 0 15px 15px !important;
    }
}
.col-lg-12 {
    float: none !important;
}

/* Override page to display on whole screen instead of static width. */
.container {
    width: 95% !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id], dt[id] {
    margin-top: 20px !important;
    padding-top: 0px !important;
}

/* Custom colors */

body {
    background-color: #000 !important;
    color: #ddd !important;
}
body > .container {
    background-color: #060 !important;
    display: table;
}
hr.shaded {
    background-color: #080 !important;
}

.navbar-inverse {
    background-color: #F80 !important;
    border-color: #ddd !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #080 !important;
    border-color: #080 !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.nav > li.active > a,
div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #080 !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #060 !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #080 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #060 !important;
    color: #ffffff !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #080 !important;
}
div.post-content a,
div#toc a {
    color: #0c0 !important;
}
div.post-content a:focus,
div.post-content a:hover,
div#toc a:focus,
div#toc a:hover {
    color: #0c0 !important;
}
.nav > li.active > a {
    background-color: #080 !important
}
.nav > li > a:hover {
    background-color: #F80 !important;
}

div#toc ul {
    background-color: #D4E5FF !important;
}

/* Table custom colors */

table > thead > tr > th,
table > tbody > tr > td {
    border: 2px solid #1C0 !important;
    color: #555 !important;
}
table > thead > tr > th {
    background-color: #F5F5F5 !important;
    text-align: center !important;
    padding-left: 25px !important;
    white-space: nowrap !important;
}
table > tbody > tr > td {
    border: 2px solid #1C0 !important;
}
table > tbody > tr:nth-of-type(odd) {
    background-color: #CCC !important;
}
table > tbody > tr:nth-of-type(even) {
    background-color: #DDD !important;
}

/* Fix jQuery DataTable */

.dataTables_wrapper,
table.dataTable {
    clear: none !important;
}
/* Workaround color for now */
.dataTables_wrapper {
    background-color: #0c0;
}

/* Fix FAQ layout */

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after, .clearfix:after,
.container-fluid:after, .container:after,
.dl-horizontal dd:after, .form-horizontal .form-group:after,
.modal-footer:after, .modal-header:after,
.nav:after, .navbar-collapse:after,
.navbar-header:after, .navbar:after,
.pager:after, .panel-body:after, .row:after {
    clear: none !important;
}
.panel-heading {
    background-color: #555 !important;
}
.panel-body {
    color: #666 !important;
}

/* Port from theme-blue stylesheet */

.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}


h3 {color: #ED1951; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
    color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #015CAE;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #347DBE;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    margin-bottom:10px;
    margin-left: 5px;

}
